# Repository
CruzadorBankGit/Repository/

# Build
bin/
obj/

# Visual Studio
.vs/

# Rider
.idea/

# VS Code
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.rsuser

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Test results
TestResults/
*.trx

# NuGet
*.nupkg
*.snupkg
packages/

# Logs
*.log

#Diagramas:
*.cd